<!-- <h3 style="color: red;">
  {{ title }}
</h3> -->

<!-- <app-product></app-product> -->
<!-- <app-all-product></app-all-product> -->
<!-- <div>
  <a routerLink="/">Home</a>
</div>
<div>
  <a routerLink="/all-product">All Product</a>
</div>
<div>
  <a routerLink="/login">Login</a>
</div>
<div>
  <a routerLink="/signup">Sign Up</a>
</div>
<div>
  <a routerLink="/trainings">Data Training</a>
</div> -->

<mat-sidenav-container>
  <mat-sidenav #sideNav role="navigation">
    <p>i'am sidenav</p>
    <mat-nav-list>
      <mat-list-item>
        <a routerLink="/all-product" (click)="sideNav.close()">
          <mat-icon>face</mat-icon>
          <span class=" nav-caption">
            All Product</span></a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/signup" (click)="sideNav.close()">
          <mat-icon>face</mat-icon>
          <span class="nav-caption">Sign Up</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/login" (click)="sideNav.close()">
          <mat-icon>input</mat-icon>
          <span class="nav-caption">Login</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/trainings" (click)="sideNav.close()">
          <mat-icon>fitness_center</mat-icon>
          <span class="nav-caption">Data Training</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
    <mat-list-item>
      <a (click)="sideNav.close()">
        <mat-icon>eject</mat-icon>
        <span class="nav-caption">Logout</span>
      </a>
    </mat-list-item>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button mat-icon-button (click)="sideNav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a routerLink="/" class="text-light">LOGO</a>
      </div>
      <!-- <span class="example-spacer"></span> -->
      <div fxFlex fxLayout fxFlexAlign="flex-end" fxHide.xs>
        <ul fxFlex fxLayout fxLayoutGap="10px" class="navigation-items">
          <li>
            <div>
              <button mat-raised-button>
                <a routerLink="/all-product">All Product</a>
              </button>
            </div>
          </li>
          <li>
            <div>
              <button mat-raised-button>
                <a routerLink="/login">Login</a>
              </button>
            </div>
          </li>
          <li>
            <div>
              <button mat-raised-button>
                <a routerLink="/signup">Sign Up</a>
              </button>
            </div>
          </li>
          <li>
            <div>
              <button mat-raised-button>
                <a routerLink="/trainings">Data Training</a>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>