<p align="left" style="color: purple;">***Product component</p>

<!-- <article *ngIf="productName!=null" class="product" (click)="onClicked()">
  <i class="fa fa-calendar" aria-hidden="true"></i>
  <p>{{productName}}</p>
</article> -->

<article *ngIf="productName!=null" class="product">
  <div align="right">
    <button type="button" class="btn" (click)="onDelete()">
      <span class="material-icons">
        close
      </span>
    </button>
  </div>
  <p>{{productName}}</p>
  <!-- <p>awesome product gaess</p> -->
</article>

<article *ngIf="NamaHP!=null" class="hp">
  <p>{{NamaHP}}</p>
</article>